body{
    margin: 0;
}
header{
    display: flex;
    background: rgb(144, 0, 227);
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px ;
    & ul{
        display: flex;
        list-style: none;
        & a{
            color: #fff;
            font-weight: bold;
            margin-right: 10px;
            text-decoration: none;
        }
    }
}
.img img {
    width: 150px;
}

#benner{
    height: 50vh;
    width: 100vw;
    background: url(benner.png) no-repeat;
    background-position: cover;
    display: flex;
    align-items: center;
}
.promosi{
    width: 25%;
    margin-left: 20px;
    color: #fff;
}
.promosi h2{
    background-color: purple;
    padding: 2px;
    text-align: justify;
}
.promosi p{
    background-color: orangered;
    text-align: justify;
    margin-top: -20px;
    padding: 2px;
}



#prodi{
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px ;
}
#prodi .card{
    width: 30%;
    border-radius: 15px;
    background-color: #fff;
    padding: 2px 20px;
    margin: 10px;
    }
#promosi .btn-mobile{
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 2px;
}